#time001, #diychart{
    height:30%;
    width:70%;
}

#animation001 button{
    display:inline;
}

#animation001 form{
    display:inline-flex;
}

.leftpart{
    padding-right:20px;
    border-right:2px gray solid;
}

input::-webkit-input-placeholder{
    color:gold;
}

.postform{
    filter:drop-shadow(20px 10px 10px gray);
}