<!DOCTYPE html>
<html lang="">
<head>
  <title>BEA GAS Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="{{ static_url('css/layout.css')}}" rel="stylesheet" type="text/css" media="all">
  <link rel="shortcut icon" href="{{ static_url('img/homepage/favicon.ico') }}">
</head>
<body id="top">
<!-- Begin of page -->
<div class="bgded" style="background-image:url({{static_url('img/homepage/backgrounds/bg-part0.png')}});">
  <div class="wrapper row1">
    <nav id="mainav" class="hoc clear">
      <ul class="clear">
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1><a href="/">BEA</a></h1>
        <p>Gold Analysis System</p>
      </div>
      <div id="quickinfo" class="fl_right">
        <ul class="nospace inline">
          <li><strong>Precious Metal</strong><br>
            Au Ag Pt Pd Ru Rh Os Ir</li>
          <li><strong>Gold</strong><br>
            18K 20K 22K 24K</li>
        </ul>
      </div>
    </header>

  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper">
    <div id="breadcrumb" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <h6 class="heading">Gold Analysis System</h6>
      <!-- ################################################################################################ -->
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard/">Dashboard</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- ################################################################################################ -->

<!-- Main Part -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- left part -->
    <div class="sidebar one_quarter first">
      <h6>Menu</h6>
      <!-- Menu -->
      <nav class="sdb_holder">
        <ul>
          <li><a href="?time=tables">Tables</a></li>
          <li><a >Plots</a>
            <ul>
              <li><a >Time-Slicing</a></li>
                <ul>
                  <li><a href="?time=days">Days</a></li>
                  <li><a href="?time=1week">1 Week</a></li>
                  <li><a href="?time=2weeks">2 Weeks</a></li>
                  <li><a href="?time=3weeks">3 Weeks</a></li>
                  <li><a href="?time=1month">1 Month</a></li>
                  <li><a href="?time=2months">2 Months</a></li>
                  <li><a href="?time=3months">3 Months</a></li>
                </ul>
              <li><a >Animation</a></li>
                <ul>
                  <li><a href="?type=1line-animation">Single-Line Animation</a></li>
                  <li><a >Multi-Line Animation</a></li>
                </ul>
              <li><a href="?type=3d">3D Plots</a></li>
              <li><a href="">DIY Plots</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- Author -->
      <div class="sdb_holder">
        <h6>Name</h6>
        <address>
        Full Name<br>
        Address Line 1<br>
        Address Line 2<br>
        Town/City<br>
        Postcode/Zip<br>
        <br>
        Tel: xxxx xxxx xxxxxx<br>
        Email: <a href="#">contact@domain.com</a>
        </address>
      </div>
      <!-- Events -->
      <div class="sdb_holder">
        <article>
          <h6>Events</h6>
          <p>introduction</p>
          <ul>
            <li><a href="#">point 1</a></li>
            <li>point 2</li>
            <li><a href="#">point 3</a></li>
          </ul>
          <p>introduction</p>
          <p class="more"><a href="#">Continue Reading &raquo;</a></p>
        </article>
      </div>
    </div>
    <!-- center part -->
    <div class="content three_quarter"> 
      <embed id="time001" src="data:image/png;base64,{{time}}" />
      <div id="animation001">{% raw type %}</div>
      <!--
      <h1>Article Title</h1>
      <img class="imgr borderedbox inspace-5" src="{{static_url('img/homepage/imgr.gif')}}" alt="">
      <p>introduce</p>
      <p>introduce<a href="#">introduce</a>introduce</p>
      <img class="imgl borderedbox inspace-5" src="{{static_url('img/homepage/imgl.gif')}}" alt="">
      <p>introduce<a href="" title="Free Website Templates">introduce</a>introduce<a href="">introduce</a>.</p>
      <p>introduce<a href="">introduce</a>introduce</p>
      <p>introduce</p>

      <h1>Table(s)</h1>
      <div class="scrollable">
        <table>
          <thead>
            <tr>
              <th>Header 1</th>
              <th>Header 2</th>
              <th>Header 3</th>
              <th>Header 4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">Value 1</a></td>
              <td>Value 2</td>
              <td>Value 3</td>
              <td>Value 4</td>
            </tr>
            <tr>
              <td>Value 5</td>
              <td>Value 6</td>
              <td>Value 7</td>
              <td><a href="#">Value 8</a></td>
            </tr>
            <tr>
              <td>Value 9</td>
              <td>Value 10</td>
              <td>Value 11</td>
              <td>Value 12</td>
            </tr>
            <tr>
              <td>Value 13</td>
              <td><a href="#">Value 14</a></td>
              <td>Value 15</td>
              <td>Value 16</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="comments">
        <h2>Comments</h2>
        <ul>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="{{static_url('img/homepage/avatar.png')}}" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>introduce</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="{{static_url('img/homepage/avatar.png')}}" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>introduce</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="{{static_url('img/homepage/avatar.png')}}" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>introduce</p>
              </div>
            </article>
          </li>
        </ul>
        <h2>Write A Comment</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">Name <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Mail <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="url">Website</label>
            <input type="url" name="url" id="url" value="" size="22">
          </div>
          <div class="block clear">
            <label for="comment">Your Comment</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Submit Form">
            &nbsp;
            <input type="reset" name="reset" value="Reset Form">
          </div>
        </form>
      </div>
      -->
    </div>

    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->

<!-- end of page-->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- Copyright &copy; 2020 - All Rights Reserved - xxx -->
    <p class="fl_left"><a href="/">Black Eight Agency</a></p>
    <p class="fl_right"><a target="_blank" href="/">Gold Analysis System</a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- ################################################################################################ -->

<!-- JAVASCRIPTS -->
<script src="{{ static_url('js/diy.js') }}"></script>
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/jquery.backtotop.js') }}"></script>
<script src="{{ static_url('js/jquery.mobilemenu.js') }}"></script>
</body>
</html>