<!DOCTYPE html>
<html lang="">
<head>
  <title>BEA GAS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="{{ static_url('css/layout.css')}}" rel="stylesheet" type="text/css" media="all">
  <link rel="shortcut icon" href="{{ static_url('img/homepage/favicon.ico') }}">
</head>
<body id="top" oncontextmenu=self.event.returnValue=false onselectstart="return false">
<!-- Begin of page -->
<div class="bgded" style="background-image:url({{ static_url('img/homepage/backgrounds/bg-part0.png') }});">
  <nav id="mainav" class="hoc clear">
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li class="active"><a href="/">Home</a></li>
        <li><a class="drop">Dashboard</a>
          <ul>
            <li><a href="/dashboard/?time=tables">Tables</a></li>
            <li><a class="drop">Plots</a>
              <ul>
                <li><a href="/dashboard/?time=1week">Time-Slicing</a></li>
                <li><a href="/dashboard/?type=1line-animation">Animation</a></li>
                <li><a href="/dashboard/?type=3d">3D Plots</a></li>
                <li><a href="/dashboard/?type=diy">DIY Plots</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a class="drop">Analysis Blog</a>
          <ul>
            <li><a href="">Plots/Tables</a></li>
            <li><a href="">Time-Slicing</a></li>
            <li><a href="">Animation</a></li>
            <li><a href="">3D Plots</a></li>
            <li><a href="">DIY Plots</a></li>
          </ul>
        </li>
        <li><a href="#team001">Team</a></li>
        <li><a href="#contact001">Contact</a></li>
        <li><a class="drop">Language</a>
          <ul>
            <li><a href="#">CN</a></li>
            <li><a href="#">EN</a></li>
          </ul>
        </li>
        <li><a class="drop" href="/tools/">Tools</a>
          <ul>
            <li><a href="/tools/">Mirror</a></li>
          </ul>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </nav>
  <div id="pageintro" class="hoc clear">
    <article>
      <p>Black Eight Agency</p>
      <h3 class="heading">Gold Analysis System</h3>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="/dashboard/">Trend Visualization</a></li>
          <li><a class="btn inverse" href="#">Trend Analysis</a></li>
        </ul>
      </footer>
    </article>
  </div>
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1><a href="/">BEA</a></h1>
        <p>Gold Analysis System</p>
      </div>
      <div id="quickinfo" class="fl_right">
        <ul class="nospace inline">
          <li><strong>Precious Metal</strong><br>
            Au Ag Pt Pd Ru Rh Os Ir</li>
          <li><strong>Gold</strong><br>
            18K 20K 22K 24K</li>
        </ul>
      </div>
    </header>

  </div>
</div>
<!-- ################################################################################################ -->

<!-- Business -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Main Business</h6>
      <p>Gold Price Analysis</p>
    </div>
    <ul class="nospace group services">
      <li class="one_third first">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading">Article 1</h6>
          <p>brief introduction [&hellip;]</p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading">Article 2</h6>
          <p>brief introduction [&hellip;]</p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading">Article 3</h6>
          <p>brief introduction [&hellip;]</p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->

<!-- Introduction -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Introduction</h6>
      <p>introduce ourselves</p>
    </div>
    <div class="group">
      <div class="one_half first">
        <p>paragraph 1</p>
        <p class="btmspace-50">paragraph 2</p>
        <ul class="nospace group">
          <li class="one_half first">
            <article><a href="#"><i class="icon btmspace-30 fa fa-joomla"></i></a>
              <h6 class="heading font-x1">Feature 1</h6>
              <p>Introduction [&hellip;]</p>
            </article>
          </li>
          <li class="one_half">
            <article><a href="#"><i class="icon btmspace-30 fa fa-institution"></i></a>
              <h6 class="heading font-x1">Feature 2</h6>
              <p>Introduction [&hellip;]</p>
            </article>
          </li>
        </ul>
      </div>
      <div class="one_half"><img class="inspace-10 borderedbox" src="{{ static_url('img/homepage/480x400.png') }}" alt=""></div>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->

<!-- Achievements -->
<div class="wrapper bgded overlay" style="background-image:url({{ static_url('img/homepage/backgrounds/02.png') }});">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Achievements</h6>
      <p>brief introduction</p>
    </div>
    <ul class="nospace group">
      <li class="one_quarter first">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading font-x1">Honor 1</h6>
          <p>introduction [&hellip;]</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading font-x1">Honor 2</h6>
          <p>introduction [&hellip;]</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading font-x1">Honor 3</h6>
          <p>introduction [&hellip;]</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading font-x1">Honor 4</h6>
          <p>introduction [&hellip;]</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->

<!-- Team Members -->
<div class="wrapper row3">
  <section class="hoc container clear" id="team001">
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Team</h6>
      <p>Leading Members</p>
    </div>
    <div class="group latest">
      <article class="one_third first">
        <figure><a class="imgover" href="#"><img src="{{ static_url('img/homepage/ervin.jpg') }}" alt=""></a></figure>
        <h4 class="heading">Yizhe(Ervin) Zhang</h4>
        <ul class="nospace meta">
          <li><i class="fa fa-user"></i> <a href="#">Director</a></li>
          <li><i class="fa fa-tag"></i> <a href="#">Full Stack/Data</a></li>
          <li><i class="fa fa-comments"></i> <a href="#">Boston, US</a></li>
        </ul>
        <p>Website construction<br>data modeling<br>data visualization<br>[&hellip;]</p>
        <footer><a target="_blank" href="https://ervinzhang.pythonanywhere.com">Personal Website</a><br><a target="_blank" href="https://www.linkedin.com/in/yizhe-zhang/">Linkedin</a></footer>
      </article>
      <article class="one_third">
        <figure><a class="imgover" href="#"><img src="{{ static_url('img/homepage/kinghe.jpg')}}" alt=""></a></figure>
        <h4 class="heading">Shijie(King) He</h4>
        <ul class="nospace meta">
          <li><i class="fa fa-user"></i> <a href="#">Director</a></li>
          <li><i class="fa fa-tag"></i> <a href="#">DevOps/Testing/Data</a></li>
          <li><i class="fa fa-comments"></i> <a href="#">Shanghai, CN</a></li>
        </ul>
        <p>Website Operation and Maintenance<br>System Test<br>Data Collection<br>[&hellip;]</p>
        <footer><a target="_blank" href="https://www.linkedin.com/in/%E4%BB%95%E6%9D%B0-%E4%BD%95-98a516190/">Linkedin</a></footer>
      </article>
      <article class="one_third">
        <figure><a class="imgover" href="#"><img src="{{ static_url('img/homepage/colin.jpg') }}" alt=""></a></figure>
        <h4 class="heading">Xuankui(Colin) Shi</h4>
        <ul class="nospace meta">
          <li><i class="fa fa-user"></i> <a href="#">Director</a></li>
          <li><i class="fa fa-tag"></i> <a href="#">Data/Content Operator</a></li>
          <li><i class="fa fa-comments"></i> <a href="#">Guangzhou, CN</a></li>
        </ul>
        <p>Data cleaning<br>data analysis report<br>content operation<br>[&hellip;]</p>
        <footer><a target="_blank" href="https://www.linkedin.com/in/%E7%83%9C%E9%80%B5-%E7%9F%B3-17162219a/">Linkedin</a></footer>
      </article>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->

<!-- Contact -->
<div id="contact001" class="wrapper row4 bgded overlay" style="background-image:url('{{ static_url('img/homepage/backgrounds/03.png') }});">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">Black Eight Agency</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Contact us</h6>
      <p class="nospace btmspace-30">Please email us and We will reply as soon as possible</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_third">
      <h6 class="heading">Major Events</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Event 1</a></h2>
            <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
            <p class="nospace">introduction [&hellip;]</p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Event 2</a></h2>
            <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
            <p class="nospace">introduction [&hellip;]</p>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->

<!-- End of page -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- Copyright &copy; 2020 - All Rights Reserved - xxx -->
    <p class="fl_left"><a href="#">Black Eight Agency</a></p>
    <p class="fl_right"><a target="_blank" href="" title="Free Website Templates">Gold Analysis System</a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- ################################################################################################ -->

<!-- JAVASCRIPTS -->
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/jquery.backtotop.js') }}"></script>
<script src="{{ static_url('js/jquery.mobilemenu.js') }}"></script>
</body>
</html>