<!DOCTYPE html>
<html lang="">
<head>
  <title>BEA GVS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="{{ static_url('css/layout.css')}}" rel="stylesheet" type="text/css" media="all">
  <link rel="shortcut icon" href="{{ static_url('img/homepage/favicon.ico') }}">
  <link href="{{ static_url('css/diy.css')}}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- Begin of page -->
<div class="bgded" style="background-image:url({{ static_url('img/homepage/backgrounds/bg-part0.png') }});">
  <nav id="mainav" class="hoc clear">
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li class="active"><a href="/">Home</a></li>
        <li><a class="drop">Dashboard</a>
          <ul>
            <li><a href="/dashboard/?time=tables">Tables</a></li>
            <li><a class="drop">Plots</a>
              <ul>
                <li><a href="/dashboard/?time=1week">Time-Slicing</a></li>
                <li><a href="/dashboard/?type=1line-animation">Animation</a></li>
                <li><a href="/dashboard/?type=3d">3D Plots</a></li>
                <li><a href="/dashboard/?type=diy">DIY Plots</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#team001">About Me</a></li>
        <li><a href="#contact001">Contact</a></li>
        <li><a class="drop">Language</a>
          <ul>
            <li><a href="#">CN</a></li>
            <li><a href="#">EN</a></li>
          </ul>
        </li>
        <li><a class="drop" href="/tools/">Tools</a>
          <ul>
            <li><a href="/tools/">Mirror</a></li>
            <li><a href="/tools/">Parameters</a></li>
            <li><a href="/sql/cmd/">Database</a></li>
          </ul>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </nav>
  <div id="pageintro" class="hoc clear">
    <article>
      <p>Boss Ease Anywhere</p>
      <h3 class="heading">Gold Visualization System</h3>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="/dashboard/">Trend Visualization</a></li>
          <li><a class="btn inverse" href="#">Trend Analysis</a></li>
        </ul>
      </footer>
    </article>
  </div>
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1><a href="/">BEA</a></h1>
        <p>Gold Visualization System</p>
      </div>
      <div id="quickinfo" class="fl_right">
        <ul class="nospace inline">
          <li><strong>Precious Metal</strong><br>
            Au Ag Pt Pd Ru Rh Os Ir</li>
          <li><strong>Gold</strong><br>
            18K 20K 22K 24K</li>
        </ul>
      </div>
    </header>

  </div>
</div>
<!-- ################################################################################################ -->

<!-- Introduction -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Introduction</h6>
      <p>GVS is the specialization & extension of PFAS</p>
    </div>
    <div class="group">
      <div class="one_half first">
        <p>PFAS: Python Financial Analysis System</p>
        <p class="btmspace-50"><a target="_blank" href="https://ervinzhang.pythonanywhere.com/pfas/">link here>></a></p>
        <ul class="nospace group">
          <li class="one_half first">
            <article><a href="#"><i class="icon btmspace-30 fa fa-joomla"></i></a>
              <h6 class="heading font-x1">Fast & Efficient</h6>
              <p>Tornado web server[&hellip;]</p>
            </article>
          </li>
          <li class="one_half">
            <article><a href="#"><i class="icon btmspace-30 fa fa-institution"></i></a>
              <h6 class="heading font-x1">Open & Self-determination</h6>
              <p>DIY with more choice[&hellip;]</p>
            </article>
          </li>
        </ul>
      </div>
      <div class="one_half"><img class="inspace-10 borderedbox" src="{{ static_url('img/homepage/pfas.png') }}" alt=""></div>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->

<!-- Servers -->
<div class="wrapper bgded overlay" style="background-image:url({{ static_url('img/homepage/backgrounds/bg-part3.png') }});">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Servers</h6>
      <p>Django/Tornado/Flask</p>
    </div>
    <ul class="nospace group">
      <li class="one_quarter first">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading font-x1"><a href="https://ervinzhang.pythonanywhere.com/pfas/">PFAS(Django)</a></h6>
          <p class="intro001"><i>Python Financial Analysis System</i> <br>completed the short term gold data time-slicing analysis [&hellip;]</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading font-x1"><a href="https://bea-analysis.herokuapp.com/">BEA-GVS(Tornado)</a></h6>
          <p class="intro001"><i>Gold Visualization System</i> <br>extended the PFAS and analyzed multi-dimensions with short term and long term data[&hellip;]</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading font-x1"><a href="https://fin-analysis.herokuapp.com/">NIA7-FAS(Flask)</a></h6>
          <p class="intro001"><i>Financial Analysis System</i> <br>aimed at analysis of different financial products and Hot News Data[&hellip;]</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading font-x1"><a>Others</a></h6>
          <p class="intro001">others [&hellip;]</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->

<!-- About Me-->
<div class="wrapper row3">
  <section class="hoc container clear" id="team001">
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">About Me</h6>
      <p>Author Information Here</p>
    </div>
    <div class="group latest">
      <article class="one_third first" style="margin-left:15%">
        <figure><a class="imgover" href="#"><img src="{{ static_url('img/homepage/ervin.jpg') }}" alt=""></a></figure>
        <footer>
          <a target="_blank" href="https://ervinzhang.pythonanywhere.com">Personal Website</a>
          <br>
          <a target="_blank" href="https://www.linkedin.com/in/yizhe-zhang/">linkedin.com/in/yizhe-zhang</a>
        </footer>
      </article>
      <div style="float:left;margin-left: 10%;">
        <h4 class="heading">Yizhe(Ervin) Zhang</h4>
        <ul class="nospace meta">
          <li><i class="fa fa-user"></i>Python Engineer</li>
          <li><i class="fa fa-tag"></i>Full Stack/Data/FinTech</li>
          <li><i class="fa fa-comments"></i>Boston, US</li>
        </ul>
        <p>Website construction<br>data modeling<br>data visualization<br>[&hellip;]</p>
      </div>
    </div>

    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->

<!-- Contact -->
<div id="contact001" class="wrapper row4 bgded overlay" style="background-image:url('{{ static_url('img/homepage/backgrounds/bg-part5.png') }});">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">Boss Ease Anywhere</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          Boston, MA
          </address>
        </li>
        <li><i class="fa fa-phone"></i>+1 </li>
        <li><i class="fa fa-fax"></i>+1 </li>
        <li><i class="fa fa-envelope-o"></i>zhang.yizhe@husky.neu.edu</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Contact Me</h6>
      <p class="nospace btmspace-30">Visit my website for further contact information
        <a href="https://ervinzhang.pythonanywhere.com/" target="_blank" style="text-decoration:underline;">(My website link)</a>
      </p>

      <form method="post" action="">
        <fieldset>
          {% raw xsrf_form_html() %}
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit" style="display:none">Submit</button>
        </fieldset>
      </form>
      <button type="button" onclick="window.location.href='https://ervinzhang.pythonanywhere.com/#4'">Submit</button>
    </div>
    <div class="one_third">
      <h6 class="heading">Major Events</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Analysis Gold Data</a></h2>
            <time class="font-xs block btmspace-10" datetime="2020-01-01">Wednesday, 1<sup>st</sup> Jan 2099</time>
            <p class="nospace">Data from 2008-2020 [&hellip;]</p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Visualization Trend</a></h2>
            <time class="font-xs block btmspace-10" datetime="2020-01-01">Wednesday, 1<sup>st</sup> Jan 2020</time>
            <p class="nospace">Visualization for 12 years[&hellip;]</p>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->

<!-- End of page -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left"><a href="#">Boss Ease Anywhere</a></p>
    <p class="fl_right"><a target="_blank" href="" title="Free Website Templates">Gold Visualization System</a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- ################################################################################################ -->

<!-- JAVASCRIPTS -->
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/jquery.backtotop.js') }}"></script>
<script src="{{ static_url('js/jquery.mobilemenu.js') }}"></script>
</body>
</html>