<!DOCTYPE html>
<html lang="" style="overflow:hidden;">
<head>
  <title>BEA GVS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="{{ static_url('css/layout.css')}}" rel="stylesheet" type="text/css" media="all">
  <link rel="shortcut icon" href="{{ static_url('img/homepage/favicon.ico') }}">
  <link href="{{ static_url('css/diy.css')}}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top" >
<!-- Begin of page -->
<div class="bgded" style="background-image:url({{ static_url('img/homepage/backgrounds/bg-part0.png') }});">
  <nav id="mainav" class="hoc clear">
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li><a href="/">HOME</a></li>
        <li class="active"><a class="drop">Execute</a>
          <ul>
            <li><a href="javascript:document.getElementById('submit001').click()">Execute Command</a></li>
            <li><a href="#">Execute Scripts (from file)</a></li>
          </ul>
        </li>
        <li><a class="drop">CRUD</a>
          <ul>
            <li><a title="download up-to-date data" href="/sql/cmd/?operate=insert">Create(Insert)</a></li>
            <li><a href="/sql/cmd/?operate=select">Retrieve(Select)</a></li>
            <li><a href="/sql/cmd/?operate=update">Update</a></li>
            <li><a href="/sql/cmd/?operate=delete">Delete</a></li>
          </ul>
        </li>
        <li><a href="#">Others</a></li>
      </ul>
      <!-- ################################################################################################ -->
  </nav>
  <div id="pageintro" class="hoc clear" style="max-width:none;">
    <form action="/sql/cmd/" method="POST">
      <input type="submit" id="submit001" value="submit" style="display:none;">
      <article style="max-width:none;margin-top:-12%">
        <textarea id="ta0" placeholder=" Please Enter SQL below (Only Select Statement except admin)&#10; Execute By 'Ctrl+Enter' " disabled></textarea>
        <div class="grid1" >
          <textarea class="ta1" id='ta1' name="input" placeholder="Input here>>"></textarea>
          <textarea class="ta1" name="history" placeholder="Last Command here>>" readonly>{% raw history %}</textarea>
        </div>
        <textarea id="ta2" name="result" placeholder="Result here>>" disabled>{% raw result %}</textarea>
      </article>
    </form>
  </div>

</div>
<!-- ################################################################################################ -->


<!-- JAVASCRIPTS -->
<script src="{{ static_url('js/sql_backend.js') }}"></script>
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/jquery.backtotop.js') }}"></script>
<script src="{{ static_url('js/jquery.mobilemenu.js') }}"></script>
</body>
</html>